@model SearchEventsViewModel


<div class="row">
    <form method="get">
        <div class="input-group">
            <!--TODO bring the label on the top of the sel-->
            <label class="mr-2 text-center"
                   asp-for="CategoryId"></label>
            <select class="mb-4 mr-2 custom-select"
                    asp-for="CategoryId" id="inputGroupSelect04">

                <option value="">All</option>

                @foreach (var category in Model.Categories)
                {
                    <option value="@category.Id">@category.Name</option>
                }
            </select>
            <label class="mr-2 text-center"
                   asp-for="Sorting"></label>
            <select asp-for="Sorting" class="form-control mb-2 custom-select">
                <option value="0" selected>Date of event</option>
                <option value="1">Date created</option>
            </select>
            <div class="input-group-append mb-4">
                <button class="btn btn-outline-primary" type="submit">Search</button>
            </div>
        </div>
    </form>
</div>

<div class="row">
    @foreach (var eventt in Model.Events)
    {
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="@eventt.ImageUrl" alt="@eventt.Name" width="500" height="200">
                <div class="card-body">
                    <h5 class="card-title">@eventt.Name</h5>
                    <p class="card-text">@eventt.Description</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Category: @eventt.Category</li>
                    <li class="list-group-item">Date: @eventt.StartDate </li>
                </ul>
                <div class="card-body">
                    <a asp-controller="Events" asp-action="Details" asp-route-id="@eventt.Id" class="btn btn-primary">View More</a>
                </div>
            </div>
        </div>      
    }
</div>

@{
    var previousPage = Model.CurrentPage - 1;
    if (previousPage < 1)
    {
        previousPage = 1;
    }

    int lastPage;

    if (Model.TotalEvents % 3 == 0)
    {
        lastPage = Model.TotalEvents / SearchEventsViewModel.EventsPerPage;
    }
    else
    {
        lastPage = (Model.TotalEvents / SearchEventsViewModel.EventsPerPage) + 1;
    }

}

<nav class="mt-4" aria-label="...">
    <ul class="pagination">
        <li class="page-item">
            <a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
               asp-controller="Events"
               asp-action="All"
               asp-route-currentPage="@(previousPage)"
               asp-route-categoryId="@(Model.CategoryId)"
               asp-route-sorting="@(Model.Sorting)">
                Previous
            </a>
        </li>
        <li class="page-item">
            <a class="btn btn-primary @(Model.CurrentPage == lastPage ? "disabled" : string.Empty)"
               asp-controller="Events"
               asp-action="All"
               asp-route-currentPage="@(Model.CurrentPage + 1)"
               asp-route-categoryId="@(Model.CategoryId)"
               asp-route-sorting="@(Model.Sorting)">
                Next
            </a>
        </li>
    </ul>
</nav>