@model SearchEventsViewModel


<div class="row">
    <form method="get">
        <div class="input-group">
            <label asp-for="CategoryId"></label>
            <select asp-for="CategoryId" class="custom-select" id="inputGroupSelect04">
                @foreach (var category in Model.Categories)
                {
                    <option value="@category.Id">@category.Name</option>
                }
            </select>
            <label asp-for="Sorting"></label>
            <select asp-for="Sorting" class="form-control">
                <option value="0" selected>Date of event</option>
                <option value="1" selected>Date created</option>
            </select>
            <div class="input-group-append">
                <button class="btn btn-outline-primary" type="submit">Search</button>
            </div>
        </div>
    </form>
</div>

<div class="row">
    @foreach (var eventt in Model.Events)
    {
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="@eventt.ImageUrl" alt="@eventt.Name" width="500" height="200">
                <div class="card-body">
                    <h5 class="card-title">@eventt.Name</h5>
                    <p class="card-text">@eventt.Description</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Category: @eventt.Category</li>
                    <li class="list-group-item">Date: @eventt.StartDate </li>
                </ul>
                <div class="card-body">
                    <a asp-controller="Events" asp-action="Details" asp-route-id="@eventt.Id" class="btn btn-primary">View More</a>
                </div>
            </div>
        </div>      
    }
</div>

<nav aria-label="...">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" asp-controller="Events" asp-action="All" asp-route-currentPage="@(Model.CurrentPage--)">Previous</a>
        </li>
        <li class="page-item">
            <a class="page-link" asp-controller="Events" asp-action="All" asp-route-currentPage="@(Model.CurrentPage++)">Next</a>
        </li>
    </ul>
</nav>